
/* Global style */
body * {
    color: black;
}

/* Navigation bar */
nav {
    margin: 20px;
    padding: 10px; 

    background-color: #808080;
    text-align: center;   
}

nav a {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;

    text-decoration: none;
}

nav a:hover {
    background-color: #b3b3b3;
}