
/* Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0px;

  width: 100%;
  height: 48px;
  background-color: rgb(144, 144, 144);
}

.logo {
    color: rgb(245, 245, 245);
    letter-spacing: 5px;
    font-size: 24px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 40%;
    height: 100%;
}
#navbar li {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
#navbar li:hover, .active {
    background-color: rgb(164, 164, 164);;
}
#navbar li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    letter-spacing: 3px;
    font-size: 18px;
}

@media screen and (max-width: 600px) {


}

/* Content Bestellung.php */
.orderPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color: rgb(15, 15, 15);
    background-color: grey;

    margin-top: 48px;
    padding: 1%;
}

.menu {
    display: flex;
    flex-direction: row;
    flex: 1.5;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-right: 0.5%;

    padding-bottom: 1vh;
    background-color: rgb(144, 144, 144);
}
.menu h2 {
    width: 100%;
    margin: 1vh;
    text-align: center;
    font-size: 2em;
}
.menu div {
    padding: 1vh;
    margin: 1vh 0.5vh;

    text-align: center;
    font-size: 1.15em;

    border: 2px solid grey;
    border-radius: 24px;
}
.menu div:hover {
    transform: scale(1.05);
    background-color: rgb(164, 164, 164);
}

.cart {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-left: 0.5%;
    background-color: rgb(144, 144, 144);;
}
.cart h2 {
    width: 100%;
    margin: 1vh;
    text-align: center;
    font-size: 2em;
}

.cart form {
    display: flex;
    flex-direction: column;

    padding: 1vw;
    margin: 1vh;

    border: 2px solid grey;
    border-radius: 24px;
}

.cart form div {
    margin: 1vh;
}

.cartParagraph {
    flex: 0.5;
    font-size: 1.25em;
}
#totalPrice {
    font-size: 1.25em;
}

.selectInputs {
   display: flex;
   flex-direction: row; 
   align-items: center;
}
.selectInputs select {
    flex: 1.5;

    text-align: center;
    font-size: 1.3em;
}

.textInputs {
    display: flex;
    flex-direction: column;
}
.textInputs div {
    display: flex;
    flex-direction: row;
}
.textInputs div input {
    flex: 1.5;
}

.buttonInputs {
    text-align: center;
}
.buttonInputs input {
    font-size: 16px;
    margin: 1vh 1.5vh;
}


/* Header and footer */
footer {
    clear: both;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 34px;
    width: 100%;

    background-color: rgb(144, 144, 144);
}

footer p {
    color: rgb(245, 245, 245);
    letter-spacing: 2px;
}


/*Fahrer.php*/
.driver {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 16px 0px;
}

.order{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 16px 8px;
    margin: 32px;

    border-radius: 24px;
    border: 2px solid red;
}

.driver p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 24px 8px;

    border-radius: 24px;
    border: 2px solid green;
    width: 400px;
    height: 16px;
}

.options {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
    padding: 8px 8px;
    margin: 12px;

    background: khaki;
    


}

.button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    padding: 8px 8px;
    margin: 12px;

    background-color: indigo;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
}

.customer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 16px 0px;
}

.orderCustomer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 16px 8px;
    margin: 32px;

    border-radius: 24px;
    border: 2px solid red;
}

.orderCustomer p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 24px 8px;

    border-radius: 24px;
    border: 2px solid green;
    width: 400px;
    height: 16px;
}

.newOrderButton {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.actualNewOrderButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 12px 12px;
    width: 100%;

    background-color: green;
    border: none;
    color: white;
    text-align: center;
    font-size: 24px;
    display: inline-block;
}


