/* Global content */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* <----------BEGIN NAVIGATION----------> */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0px;

  width: 100%;
  height: 48px;
  background-color: rgb(144, 144, 144);
}

.logo {
    color: rgb(245, 245, 245);
    letter-spacing: 5px;
    font-size: 24px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 40%;
    height: 100%;
}
.navbar li {
    list-style: none;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
.navbar li:hover, .active {
    background-color: rgb(164, 164, 164);;
}
.navbar li a {
    text-decoration: none;
    color: rgb(245, 245, 245);
    letter-spacing: 3px;
    font-size: 18px;
}

.burger {
    display: none;
}

@media screen and (max-width: 1240px) {
    .navbar {
        width: 60%;
    }
}

@media screen and (max-width: 724px) {
/*
    body {
        overflow-x: hidden;
    }
*/
    .navbar {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 5vh;
        background-color: red;

        display: flex;
        flex-direction: column;
        width: 50%;

        transform: translateX(100%);
        transition: 0.5s ease-in;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
      
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: rgb(245, 245, 245);
        margin: 5px;
    }
}

/* <----------END NAVIGATION----------> */

/* <----------BEGIN FOOTER----------> */
footer {
    clear: both;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 34px;
    width: 100%;

    background-color: rgb(144, 144, 144);
}
footer p {
    color: rgb(245, 245, 245);
    letter-spacing: 2px;
}
/* <----------END FOOTER----------> */
