/* Content from Bestellung.php */

.orderPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color: rgb(15, 15, 15);
    background-color: grey;

    padding: 0.5%;
}

@media screen and (max-width: 724px) {
    .orderPage {
        flex-direction: column;
    }
}

/* <----------BEGIN MENU----------> */
.menu {
    display: flex;
    flex-direction: row;
    flex: 1.5;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin: 0.25%;

    padding-bottom: 1vh;
    background-color: rgb(144, 144, 144);
}
.menu h2 {
    width: 100%;
    margin: 1vh;
    text-align: center;
    font-size: 2em;
}
.menu div {
    padding: 1vh;
    margin: 1vh 0.5vh;

    text-align: center;
    font-size: 1.1rem;

    border: 2px solid grey;
    border-radius: 24px;
}
.menu div:hover {
    transform: scale(1.05);
    background-color: rgb(164, 164, 164);
}

.img {
    width: 250px;
    height: 250px;
}

@media screen and (max-width: 724px) {
    .menu div {
        font-size: 1.2rem;
    }
    .img {
        width: 190px;
        height: 190px;
    }
}
/* <----------END MENU----------> */

/* <----------BEGIN CART----------> */
.cart {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin: 0.25%;
    background-color: rgb(144, 144, 144);
}
.cart h2 {
    width: 100%;
    margin: 1vh;
    text-align: center;
    font-size: 2rem;
}

.cart form {
    display: flex;
    flex-direction: column;

    padding: 1vw;
    margin: 1vh;

    border: 2px solid grey;
    border-radius: 24px;
}

.cart form div {
    margin: 1vh;
}

.cartParagraph {
    flex: 0.5;
    font-size: 1.25rem;
    align-self: center;
}
#totalPrice {
    font-size: 1.25rem;
}

.selectInputs {
   display: flex;
   flex-direction: column; 

}
.selectInputs div {
    display: flex;
    flex-direction: row;
}
.selectInputs select {
    flex: 1.5;
    text-align: center;
    font-size: 1.3rem;

    border: 2px solid grey;
    background-color: rgb(164, 164, 164);   
    padding: 4px;
}

.textInputs {
    display: flex;
    flex-direction: column;
}
.textInputs div {
    display: flex;
    flex-direction: row;
}
.textInputs div input {
    flex: 1.5;
    border: 2px solid grey;
    background-color: rgb(164, 164, 164);
    font-size: 1.25em;   
    padding: 4px;
}

.buttonInputs {
    text-align: center;
}
.buttonInputs input {
    font-size: 16px;
    margin: 1vh 1.5vh;
}

@media screen and (max-width: 724px) {

    .cart {
        margin-top: 1.5%;
    }
    .selectInputs div {
        flex-direction: column;
    }

    .textInputs div {
        flex-direction: column;
    }
}
/* <----------END CART----------> */

